*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    transition: .5s;
    list-style: none;
    text-decoration: none;
}



body{
    height: 100vh;
    background-image: url('./orqasi\ .png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.divs{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    margin-top: 200px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari uchun */
    height: 510px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

h1{
    font-size: 28px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h2{
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 5px;
}
nav{
    margin-top: 100px;
}


button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #1b3896;
    color: white;
    cursor: pointer;
    margin-top: 8px;
}

input{
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    background: #1b3896;
    color: white;
}

i{
    color: white;
    margin-left: 0px;
}

p{
    color: white;
    margin-top: 20px;
}

ul li{
    margin-top: 10px;
    color: white;
    font-weight: 700;

}